<ion-toolbar>
    <ion-buttons slot="secondary">
        <div *ngIf="!authenticationService.isLoginCorrect">
            <ion-button color="secondary" (click)="login()">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                login
            </ion-button>
        </div>
        <div>
            <ion-button color="secondary" (click)="silentLogin()">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                refresh
            </ion-button>
        </div>
        <div *ngIf="authenticationService.isLoginCorrect">
            <ion-button color="secondary" (click)="logout()">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                logout
            </ion-button>
        </div>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button color="danger">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
