<app-header></app-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button (click)="getInfo()"
                class="aad-login-button"
                color="dark">
        Info Speakers
    </ion-button>
    <div *ngIf="isCorrect">
        <ion-card-header>
            <ion-card-subtitle>{{speakers|json}}</ion-card-subtitle>
        </ion-card-header>
    </div>


</ion-content>
